<div fxLayout="row wrap">
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100" style="min-height: 50vh;">
    <mat-card>

      <mat-card-content>
        <mat-card-title>Mes</mat-card-title>
        <div fxLayout="row wrap">

          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
          </div>

        </div>
        <hr style="margin-top:20px;margin-bottom: 20px;">
        <mat-card-title>Acumulado</mat-card-title>
        <div fxLayout="row wrap">

          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">


            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>