.negative_value{
    color: red;
}
tr.mat-footer-row {
    font-weight: bold;
  }
.mat-card-content{
    padding: 15px !important;
}  

.uploader-status::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ffb22b;
}

