<div fxLayout="row wrap">
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card >
            <mat-card-content style="padding: 0.5rem 1rem;margin: 0;">

                <mat-form-field style="padding:0;margin: 0;">
                    <mat-select style="padding:0;margin: 0;" placeholder="{{placeholderYear}}" [(value)]="selectedyear"
                        (selectionChange)="onYearChange($event)">
                        <mat-option *ngFor="let year of years" [value]="year.value">
                            {{year.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card >
            <mat-card-content style="padding: 0.5rem 1rem;margin: 0;">

                <mat-form-field>
                    <mat-select [(value)]="selectedMonth" placeholder="{{placeholderMonth}}"
                        (selectionChange)="onMonthChange($event)">
                        <mat-option *ngFor="let month of months" [value]="month.value">
                            {{month.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content style="padding: 0.5rem 1rem;margin: 0;">
                <mat-form-field>
                    <mat-select placeholder="{{placeholderCoin}}" [(value)]="selectedCoin"
                        (selectionChange)="onCoinChange($event)">
                        <mat-option *ngFor="let coin of coins" [value]="coin.value">
                            {{coin.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" *ngIf="listamesMB.length>0">
        <mat-card [style.height]="amoutIncremented">
            <mat-card-content>
                <mat-card-title>{{ months[selectedMonth-1].viewValue| translate}}</mat-card-title>
                <div class="responsive-table">
                    <table mat-table [dataSource]="dataSourceMes" class="mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                                        The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="division">
                            <th mat-header-cell *matHeaderCellDef>{{ 'DIVISION' | translate}}</th>
                            <td mat-cell *matCellDef="let element"> {{element.division}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="porcentaje_margen">
                            <th mat-header-cell *matHeaderCellDef> % </th>
                            <td mat-cell *matCellDef="let element">
                                <p style="margin: 0;padding: 0;" *ngIf="element.porcentaje_margen>=0">
                                    {{element.porcentaje_margen | percent:'1.2-5' }}</p>

                                <p style="margin: 0;padding: 0;" *ngIf="element.porcentaje_margen<0"
                                    class="negative_value">
                                    ({{getAbsoluto(element.porcentaje_margen) | percent:'1.2-5' }})</p>
                            </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="bps">
                            <th mat-header-cell *matHeaderCellDef> (bps) </th>
                            <td mat-cell *matCellDef="let element"> {{element.bps}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="importe_actual">
                            <th mat-header-cell *matHeaderCellDef> {{selectedCoinTable}} (000) </th>
                            <td mat-cell *matCellDef="let element"> {{element.moneda}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

            </mat-card-content>
        </mat-card>

    </div>
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" *ngIf="listamesMB.length>0">
        <mat-card [style.height]="amoutIncremented">
            <mat-card-content>
                <!-- <mat-card-title>Bar Sales Chart</mat-card-title> -->
                <div fxLayout="row wrap" [style.height]="amoutIncrementedcanvas">
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
                            (chartHover)="chartHovered($event)" 
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" *ngIf="listyearVAR.length>0">
        <mat-card [style.height]="amoutIncrementedAc">
            <mat-card-content>
                <mat-card-title>{{'Acumulado' | translate}}</mat-card-title>
                <div class="responsive-table">
                    <table mat-table [dataSource]="dataSourceAcumulado" class="mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                                        The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="division">
                            <th mat-header-cell *matHeaderCellDef>{{'DIVISION' | translate }}</th>
                            <td mat-cell *matCellDef="let element"> {{element.division}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="porcentaje_margen">
                            <th mat-header-cell *matHeaderCellDef> % </th>
                            <td mat-cell *matCellDef="let element">
                                <p style="margin: 0;padding: 0;" *ngIf="element.porcentaje_margen>=0">
                                    {{element.porcentaje_margen | percent:'1.2-5' }}</p>

                                <p style="margin: 0;padding: 0;" *ngIf="element.porcentaje_margen<0"
                                    class="negative_value">
                                    ({{getAbsoluto(element.porcentaje_margen) | percent:'1.2-5' }})</p>
                            </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="bps">
                            <th mat-header-cell *matHeaderCellDef> (bps) </th>
                            <td mat-cell *matCellDef="let element"> {{element.bps}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="importe_actual">
                            <th mat-header-cell *matHeaderCellDef> {{selectedCoinTable}} (000)</th>
                            <td mat-cell *matCellDef="let element"> {{element.moneda}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

            </mat-card-content>
        </mat-card>

    </div>
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" *ngIf="listyearVAR.length>0">
        <mat-card [style.height]="amoutIncrementedAc">
            <mat-card-content style="margin: 0;padding-left:0;padding-right: 0;">
                <div fxLayout="row wrap" [style.height]="amoutIncrementedcanvasAc">
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

                        <canvas baseChart [datasets]="barChartDataAc" [labels]="barChartLabels"
                            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
                            [plugins]="barChartPlugins" (chartHover)="chartHovered($event)" 
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>